<nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
  <div class="container-fluid d-flex">
    <div class="navbar-brand">
      <img
        style="height: 100px"
        [src]="url"
        alt="logo superintendencia de sociedades"
        decoding="async"
        loading="lazy"
      />
    </div>
    <div class="collapse navbar-collapse" id="navbarText"></div>
    <span class="navbar-text">
      <h2 style="font-size: 1.5em" class="font-weight-bold">
        {{ title }}
      </h2>
    </span>
    <div class="collapse navbar-collapse" id="navbarText"></div>
    <div class="collapse navbar-collapse" id="navbarText"></div>
  </div>
</nav>
