<div ngbDropdown class="d-inline-block container-dropdown">
  <button type="button" class="form-control container-dropdown__btn text-break" id="dropdownForm1" ngbDropdownToggle
    ngbTooltip="Recuerda que en este campo tienes que digitar algún valor, el aplicativo hará la búsqueda con base en lo que escribas y debes seleccionar un elemento de la lista de resultados.">
    {{ buttonText }}
  </button>

  <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="container-select-search">
    <form class="p-2" [formGroup]="grupo">
      <div class="container-select-search__container-input">
        <input type="text" class="form-control" formControlName="texto" placeholder="{{ placeholder }}" />

        <i class="bi bi-x container-select-search__icon" aria-hidden="true" *ngIf="control.value"
          (click)="onClickButtonDelete()"></i>
      </div>

      <div class="mt-3 rounded-1" formArrayName="control">
        <div class="disabled" *ngIf="sinResultados" ngbDropdownItem>
          No se encontraron resultados.
        </div>

        <div class="disabled" *ngIf="cargando" ngbDropdownItem>Cargando...</div>

        <div *ngFor="let value of filteredValues | async" ngbDropdownItem (click)="onSelectOption(value)">
          <p class="container-select-search__paragraph">
            {{ value }}
          </p>
          <div *ngIf="control.value.includes(value)" class="container-select-search__check-icon">
            <i class="bi bi-check2 d-block" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>