.container-select-search {
  min-width: 100%;
  max-width: 100%;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 0.87rem;

  &__container-input {
    position: relative;
  }

  &__paragraph {
    width: 90%;
    white-space: wrap;
    margin: 0;
  }

  &__check-icon {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.3rem;
  }

  &__icon {
    top: 0;
    height: 0;
    right: 0.3em;
    position: absolute;
    font-size: 1.6rem;
    cursor: pointer;
  }

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: white;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(201, 201, 201);
    border-radius: 1em;
    height: 70px;
  }
}

.form-control {
  padding-right: 2em;
  font-size: 0.87rem;
}

.dropdown-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 40px;
  padding-left: 0.6em;
  padding-right: 1em;
  cursor: pointer;
  font-size: 0.87rem;
  max-width: 100%;
}

.container-dropdown {
  width: 100%;
  margin-top: 0.5em;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #153985;
    font-size: 0.89rem;
    height: 37.7px;
    cursor: pointer;
  }

  &__btn-info {
    inline-size: 95%;
    overflow: hidden;
  }
}
